:host {
    background-color: red;
}

button {
    background-color: lightgreen;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border-color: black;
    border-width: 5px;
    margin-top: -100px;
    margin-left: -100px;
    font-size: 2em;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px 2px #fff;
}